services:
  api:
    image: ghcr.io/saleor/saleor:latest
    ports:
      - 8000:8000
    restart: unless-stopped
    networks:
      # - saleor-backend-tier
      - dokploy-network
    stdin_open: true
    tty: true
    depends_on:
      # - db
      # - redis
      - jaeger
    volumes:
      # shared volume between worker and api for media
      - saleor-media:/app/media
    env_file:
      - common.env
      - backend.env
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`api.shopinsta.io`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls.certResolver=letsencrypt"
      - "traefik.http.services.api.loadbalancer.server.port=8000"
      
  dashboard:
    image: ghcr.io/saleor/saleor-dashboard:latest
    ports:
      - 9000:80
    restart: unless-stopped
    networks:
      - dokploy-network   
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`dashboard.shopinsta.io`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls.certResolver=letsencrypt"
      - "traefik.http.services.dashboard.loadbalancer.server.port=9000"
  # db:
  #   image: library/postgres:15-alpine
  #   ports:
  #     - 5432:5432
  #   restart: unless-stopped
  #   networks:
  #     # - saleor-backend-tier
  #     - dokploy-network
  #   volumes:
  #     - saleor-db:/var/lib/postgresql/data
  #     - ./replica_user.sql:/docker-entrypoint-initdb.d/replica_user.sql:ro,z
  #   environment:
  #     - POSTGRES_USER=saleor
  #     - POSTGRES_PASSWORD=saleor

  # redis:
  #   image: library/redis:7.0-alpine
  #   ports:
  #     - 6379:6379
  #   restart: unless-stopped
  #   networks:
  #     # - saleor-backend-tier
  #     - dokploy-network
  #   volumes:
  #     - saleor-redis:/data

  worker:
    image: ghcr.io/saleor/saleor:3.22
    command: celery -A saleor --app=saleor.celeryconf:app worker --loglevel=info -B
    restart: unless-stopped
    networks:
      # - saleor-backend-tier
      - dokploy-network
    env_file:
      - common.env
      - backend.env
    depends_on:
      # - redis
      - mailpit
    volumes:
      # shared volume between worker and api for media
      - saleor-media:/app/media

  jaeger:
    image: jaegertracing/jaeger
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
    restart: unless-stopped
    networks:
      # - saleor-backend-tier
      - dokploy-network
    volumes:
      - type: tmpfs
        target: /tmp

  mailpit:
    image: axllent/mailpit
    ports:
      - 1025:1025 # smtp server
      - 8025:8025 # web ui. Visit http://localhost:8025/ to check emails
    restart: unless-stopped
    networks:
      # - saleor-backend-tier
      - dokploy-network

volumes:
  saleor-db:
    driver: local
  saleor-redis:
    driver: local
  saleor-media:

networks:
  # saleor-backend-tier:
    # driver: bridge
  dokploy-network:
    external: true # Indicates that this network is managed externally by Dokploy
